@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        <li class="nav-item d-flex align-items-center">
            <button class="btn btn-secondary rounded-circle btn-icon">
                <i class="fas fa-user"></i>
            </button>
            <a id="manage" class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <span class="ms-2 text-white">@UserManager.GetUserName(User)</span>
            </a>
        </li>
}
else
{
    <li class="nav-item">
            <a class="nav-link text-white" id="register" asp-area="Identity" asp-page="/Account/Register">
                <button class="btn btn-secondary rounded-circle btn-icon">
                    <i class="fas fa-user"></i>
                </button>
            </a>
    </li>
}
</ul>
